<%- include('includes/head.ejs')%>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/nav.ejs')%>
    <main>
        <h1>Delete Products</h1>
        <p>Select the products to be deleted:</p>
        <form class="product-form" action="/admin/del-product" method="POST">
            <div class="form-control">
                <%products.forEach(product=>{%>
                <label for="product"><input type="radio" id="product" name="product" value="<%=product.productName %>"><%=product.productName %></label>
                <%});%>
            </div>

            <button class="btn" type="submit">Delete Product</button>
        </form>
    </main>

    <%- include('includes/footer.ejs')%>